#header {
	background-color: #606060;
	padding: 3px;
	line-height: 1;
}

#logo {
	width: 85px;
	height: auto;
	/*margin-left: 200px;
	padding-top: 5px;
	padding-bottom: 5px;*/
}

#menu_main {
}

#menu_main li {
	display: inline;
}

#menu_main li li {
	display: none;
}
header{
	background-color: #606060;
}

 
 
 
