#title_section {
	height: 550px;
	vertical-align: middle;
	margin-top: 5%;
}

.mid_sections {
	height: 400px;
	width: 25%;
	margin 0;
	float: left;
	box-shadow: 1px 1px 1px #000000;
	background-color: #c4c4c6;
    box-shadow: 0px 0px 0px 3px #606060;
  	-webkit-box-shadow: 0px 0px 0px 3px #606060;
    -moz-box-shadow: 0px 0px 0px 3px #606060;
}

#name_section {
	float: left;
	margin-top: 100px;
	margin-left: 300px;
}

#webtek_image {
	
	float: right;
	margin-right: 400px;
}

#midsection {
	clear: both;
}

#section1 {
	border-top-left-radius: 10px;
}

#section2 {
}

#section3 {
}

#slideshow {
	width: 400px;
	height: 400px;
	overflow: hidden;
}

#slideshow img {
	height: 400px;
	width: 400px;
	float: left;
	display: none;
	
}

#section4 {
	margin: 0;
	padding: 0;
	border-top-right-radius: 10px;
}

