body {
	padding: 0;
	margin: 0;
}


li {
	list-style-type: none;
}

#header {
	background-color: #606060;
	padding: 3px;
	line-height: 1;
}

#logo {
	width: 85px;
	height: auto;
	margin: auto;
	vertical-align: middle;
	/*padding-top: 5px;
	padding-bottom: 5px;*/
}

#menu_main {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	width: 800px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
}

#menu_main a {
	text-decoration: none;
	color: #c4c4c6;
}

#menu_main a:hover {
	text-decoration: none;
	color: white;
}

#menu_main li {
	display: inline;
	padding: 10px;
}

#menu_main ul {
	display: inline;
	margin: 0;
	padding: 0;
}


#menu_main li li {
	display: none;
}

#search_bar {
	border: 2px;
	border-radius: 5px;
	display: inline;	
}

#search_bar input {
	vertical-align: middle;
};

#title_section {
	height: 500px;
<<<<<<< HEAD
}

=======
	line-height: 500px;
	background-color: 000000;
}

#webtek_image{
	
	
}

>>>>>>> origin/master
.mid_sections {
	height: 400px;;
	width: 25%;
	margin 0;
	float: left;
	box-shadow: 1px 1px 1px #000000;
}


#section1 {
	background-color: red;
}
#section2 {
	background-color: blue;
}
#section3 {
	background-color: green;
}
#section4 {
	margin: 0;
	padding: 0;
}
 
 
 
