#content{
	width: 1000px;
	margin:auto;
	color: #606060;
}

#content h2{
	color:#606060;
}

#content h3{
	padding-top: 20px;
}

#content a{
	text-decoration: none;
	color:#606060;
}

#content section{
	width: 800px;
}

#content div{
	width: 500px;
	margin-left:100px;
	float:left;
}

#content section p{
	width: 500px;
	margin-left:100px;
	float:left;
}

#content a:hover{
	color: #c4c4c6;
}

#content img {
	width: auto;
	height: 200px;
	float: left;
	border-radius: 10px;
}

#content li{
	list-style-type: circle;
}

#content #mediaplayer{
	position: absolute;
	top: 125px;
	/*Shadow supported by chrome, firefox, safari*/
	box-shadow: 0px 0px 30px #888888;
	-moz-box-shadow: 0px 0px 30px #888888;
	-webkit-box-shadow: 0px 0px 30px #888888;
	height: 480px;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
}

#marius, #andreas, #stian{
	clear:both;
} 

