#title_section {
	height: 600px;
	vertical-align: middle;
	margin-top: 5%;
}

.mid_sections {
	height: 400px;
	width: 25%;
	margin 0;
	float: left;
	box-shadow: 1px 1px 1px #000000;
	background-color: #c4c4c6;
	/*border: -2px solid #606060; */
	
	/*box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;*/
    box-shadow: 0px 0px 0px 3px #606060;
  	-webkit-box-shadow: 0px 0px 0px 3px #606060;
    -moz-box-shadow: 0px 0px 0px 3px #606060;
  	/*border: 3px solid;*/
}

#name_section {
	float: left;
	margin-left: 10%;
}

#webtek_image {
	float: right;
	margin-right: 10%;
}

#midsection {
	clear: both;
}

#section1 {
	border-top-left-radius: 10px;
}

#section2 {
}

#section3 {
}

#slideshow {
	width: 400px;
	height: 400px;
}

#section4 {
	margin: 0;
	padding: 0;
	border-top-right-radius: 10px;
}